@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.ttf");
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cross {
  font-size: 0px;
  margin-right: 3vw;
}

.white {
  fill: #ffffff;
}

.header {
  background-color: #fff;
}

.header__navmenu {
  width: 94vw;
  height: 60px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__header-profile {
  background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
}

.navmenu__control-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navmenu__line {
  display: block;
  margin-bottom: 7px;
}

.navmenu__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 24px;
}

.storage {
  position: relative;
}

.storage__part {
  position: absolute;
  left: 4px;
  top: 7px;
}

.line--small {
  width: 13px;
}

.header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 155px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7% 3%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-data {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-data__user-foto-wrapper {
  position: relative;
  margin-right: 4vw;
}

.user-data__user-foto-frame {
  position: absolute;
  left: -4px;
  top: -4px;
}

.user-data__data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-data__counter {
  color: white;
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
}

.user-data__user {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
}

.edit-profile__btn {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ACAFF3;
}

.to-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.to-share__text {
  color: #ACAFF3;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #faf9f9;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.navigation__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navigation__item {
  color: #222222;
  width: 180px;
  padding: 9px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  list-style: none;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
}

.navigation__item:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item--with-menu {
  background-color: #5A60E7;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}

.select-menu {
  border: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 13px 10px;
  width: 180px;
  height: 112px;
  color: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 40px;
  z-index: 50;
}

.select-menu__item {
  background-color: inherit;
  color: #909090;
  font-family: "Proxima Nova";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  list-style: none;
  margin: 0px auto 0px 10px;
}

.info-panel {
  background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
  font-family: "Proxima Nova";
  padding: 3%;
}

.info-statistics__season-selection {
  margin-bottom: 2vh;
}

.info-statistics__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.info-statistics__item {
  width: 67.5px;
  height: 60px;
  background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
  border: 1px solid #1E1E28;
  border-radius: 5px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-statistics__title {
  color: #FAF9F9;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  width: 100%;
  text-align: left;
}

.info-statistics__value {
  color: #FF795B;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
}

.season-selection {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #4b4faa;
  border-radius: 3px;
  padding: 1% 1%;
}

.season-selection__btn {
  height: 90%;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: inherit;
  color: #ACAFF3;
  border: none;
  border-radius: 3px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
}

.season-selection__btn--active {
  background: #5A60E7;
  color: #ffffff;
}

.achievements__title {
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #909090;
  margin-bottom: 20px;
}

.achievements__panel-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievements__active-achievements {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievements__hr-line {
  margin: 0;
  margin-bottom: 10px;
}

.main {
  min-height: 400px;
  padding-top: 4vh;
}

.main__sort {
  margin-bottom: 2vh;
}

.main__sort-list {
  color: #909090;
  width: 180px;
  padding: 9px;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
}

.main__content {
  width: 90vw;
  margin: auto;
}

.table-of-results {
  width: 100%;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 2px 8px #E9E9E9);
          filter: drop-shadow(0px 2px 8px #E9E9E9);
  border-radius: 5px;
  border-spacing: 0px;
  border-collapse: collapse;
}

.table-of-results__head {
  color: #909090;
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  border-bottom: 1px solid #D6D7F9;
}

.table-of-results__body {
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #222222;
}

.table-of-results__body tr:nth-child(odd) {
  background-color: #FAF9F9;
}

.table-of-results__col {
  padding: 10px 10px 4px 10px !important;
}

.table-of-results tr {
  padding: 13px 10px;
}

.table-of-results td {
  padding: 13px 10px;
}

.footer {
  background-color: #222222;
  height: 320px;
  padding: 20px 2vw;
  color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Proxima Nova, sans-serif;
}

.footer__email-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  margin-bottom: 10px;
}

.footer__phone {
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 110%;
  margin-bottom: 27px;
}

.footer__to-share {
  margin-bottom: 45px;
  height: 50px;
  fill: #fff;
}

.footer__stores {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  height: auto;
}

.footer__store {
  display: inline-block;
}

.footer__logo-wrapper {
  margin-bottom: 20px;
}

.footer__copyright {
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 110%;
  margin-bottom: 5px;
}

.footer__made {
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 110%;
}

.footer__made-link {
  cursor: pointer;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  background-color: #faf9f9;
}
