.footer {
  background-color: #222222;
  height: 320px;
  padding: 20px 2vw;
  color: white;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  gap: 20px;

  @media (min-width:992px) {
    gap: 10px;
    max-height: 320px;
  }

  &__email-link {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    line-height: 110%;
  }

  &__phone {
    font-size: 16px;
    line-height: 110%;
  }

  &__to-share {
    display: flex;
    gap: 15px;
    height: auto;
    fill: #fff;
  }

  &__stores {
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: auto;
  }

  &__store {
    display: inline-block;
  }

  &__logo-wrapper {}

  &__copyright {
    font-size: 12px;
    line-height: 110%;
  }

  &__made {
    font-size: 12px;
    line-height: 110%;
  }

  &__made-link {
    cursor: pointer;
    color: white;
  }
}