.main {
  min-height: 450px;
  padding-top: 4vh;
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 400;

  &__sort {
    margin-bottom: 2vh;
  }

  &__sort-list {
    color: #909090;
    width: 180px;
    padding: 9px;
    font-size: 16px;
    line-height: 140%;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
  }

  &__content {
    width: 90vw;
    margin: auto;
  }
}

.table-of-results {
  width: 100%;
  background-color: #fff;
  filter: drop-shadow(0px 2px 8px #E9E9E9);
  border-radius: 5px;
  border-spacing: 0px;
  border-collapse: collapse;
  font-family: Proxima Nova, sans-serif;

  &__head {
    color: #909090;
    font-size: 12px;
    line-height: 110%;
    border-bottom: 1px solid #D6D7F9;
    height: 27px;
  }

  &__head-sell {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content:center;
  }

  &__container-btns {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__container-btns:first-child {
    margin-right: 4px;
  }

  &__arrow {
    display: block;
    fill: #909090;
  }

  &__arrow:first-child {
    margin-bottom: 2px;
  }

  &__arrow--active {
    fill: #5A60E7;
  }








  &__body {
    font-size: 14px;
    line-height: 110%;
    color: #222222;

    & tr:nth-child(odd) {
      background-color: #FAF9F9;
    }

    & td {
      padding: 13px 10px;
    }

    & td:not(:first-child) {
      text-align: center;
    }
  }

  &__row {}

  &__col {
    height: 27px;
    // height: inherit;
    padding: 0px 10px;
    // text-align: center;
    white-space: nowrap;
  }
}