@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.ttf");
}

@import "_logotypes.scss";
@import "_header.scss";
@import "_navigation.scss";
@import "_info-panel.scss";
@import "_main.scss";
@import "_footer.scss";


* {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  background-color: #faf9f9;
}
